certifi==2018.8.24
click==6.7
configparser==3.5.0
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pipenv==2018.7.1
psycopg2==2.7.5
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
